@import url("fonts/Magistral/stylesheet.css");


body {
  margin: 0;
  padding: 0;
  font-family: Magistral, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  white-space: wrap;
}

.App {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_container {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container img {
  width: 100%;
  object-fit: cover;

}


@media screen and (max-width: 420px) {

  .App {
    width: 100%;
    max-width: 100%;
   

  }

  h1 {
    font-size: 2.4em;
    line-height: 1.1;
  }

  .image_container {
    width: 100%;
    height: 400px;
  }

 
}
  


